<div *ngIf="page" class="container">
  <h1 class="text-center">{{ page.name }}</h1>
  <form [formGroup]="form">
    <div class="card m-2" *ngFor="let section of page.sections">
      <app-section [section]="section" [form]="form"></app-section>
    </div>
  </form>
  <div class="d-flex justify-content-between m-2">
    <button class="btn btn-primary" (click)="goBack()" [disabled]="page.pageId === 172">Previous</button>
    <button class="btn btn-primary" [routerLink]="next">Next</button>
  </div>
</div>
